.footer {
    background-color: #CAF0F8; /* Pale Blue */
    padding: 40px 0;
    font-family: Arial, sans-serif;
    color: #023E8A; /* Dark Blue */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.linksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.box h3 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #023E8A; /* Dark Blue */
}

.box a {
    display: block;
    margin: 5px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.box a:hover {
    color: #007bff; /* Keeping the same hover color */
}

.footerBottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e9ecef;
}

.footerBottom p {
    margin: 5px 0;
    color: #023E8A; /* Dark Blue for text */
}

.footerBottom span {
    color: #007bff; /* Keeping the same color for the span */
    font-weight: bold;
}
